@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
#css{
    font-variant: small-caps;
    font-weight: 700;
    font-style: oblique;
}
p{
    font-size: 15px;
}